@import '~/assets/scss/vars.scss';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

// Remove the highlight color on click
input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: #00000000;
}

body {
	background-color: $background;
}

a {
	text-decoration: none;
	color: white;
}

.custom-link-active {
	color: $green;
}

.custom-link-exact-active {
	color: #11c0c0;
}

hr.nav {
	background-color: #05a872;
	color: $green;
	height: 1px;
	border-width: 0;
	margin: 10px 5px;
}

button {
	border: none;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

button.next {
	background-color: $green;
	color: white;

	&:hover {
		background-color: $green-hover;
	}
}

button.cancel {
	background-color: $red;
	color: white;

	&:hover {
		background-color: $red-hover;
	}
}

// .m-1 {
// 	margin: 0.25rem;
// }

// .m-2 {
// 	margin: 0.5rem;
// }

// .m-3 {
// 	margin: 0.75rem;
// }

// .m-3 {
// 	margin: 1rem;
// }

// .my-1 {
// 	margin: 0.25rem 0;
// }

// .my-2 {
// 	margin: 0.5rem 0;
// }

// .my-3 {
// 	margin: 0.75rem 0;
// }

// .my-4 {
// 	margin: 2rem 0;
// }
